.footer {
  width: 95%;
  margin: 20px auto;
  color: #fff;
  padding: 2rem;
  text-align: center;
  font-size: large;
}
.li{
 list-style-type: none;
}
.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  margin-bottom: 1rem;
}

.copy {
  font-size: 0.8rem;
  color: #aaa;
}
