.container {
  width: 100%;
  max-width: 1200px; /* You can increase this */
  margin: 0 auto;
  padding: 1rem;
}

.sectionTitle {
  margin: 1rem auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

.carousel .slide img {
  height: auto;
  width: 100%;
  object-fit: cover;
  max-height: 300px; /* Adjust this value for your ideal height */
  border-radius: 10px;
}

/* Optional: constrain the entire carousel */
.carousel {
  border-radius: 10px;
  overflow: hidden;
}
.carouselContainer {
  width: 80%; /* Or your preferred width */
  margin: 0 auto; /* This centers the container */
  aspect-ratio: 19/ 6;
  overflow: hidden;
  height: auto;
  border-radius: 10px;
  position: relative;
}

.carouselContainer img {
  width: 100px;
  height: auto;
  object-fit: cover;
}
.carouselWrapper {
  /* width: 1500px; */
  /* max-width: 1600px; */
  margin: 20px auto;
}
.img {
  width: 100%;
  height: auto;
}
@media (max-width: 600px) {
  .productGrid {
    grid-template-columns: 1fr;
    padding: 0.5rem;
    gap: 1rem;
  }
}
