.container {
}

.sectionTitle {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}
.carousel .slide img {
  height: auto;
  width: 100%;
  object-fit: cover;
  max-height: 300px; /* Adjust this value for your ideal height */
  border-radius: 10px;
}

/* Optional: constrain the entire carousel */
.carousel {
  margin-top: 2rem;
  border-radius: 10px;
  overflow: hidden;
}
.carouselContainer {
  width: 80%; /* Or your preferred width */
  margin: auto; /* This centers the container */
  aspect-ratio: 16/ 6;
  overflow: hidden;
  height: auto;
  border-radius: 10px;
  position: relative;
}

.carouselContainer img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.carouselWrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.img {
  width: 100%;
  height: auto;
}
